*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFEAC5;
}

nav{
    display: flex;
    justify-content: right;
    gap: 20px;
    background-color: #b78727 ;
    height: 10vh;

}

nav li{
    padding:10px ;
    list-style: none;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
    
    
    color: antiquewhite;
}


.first{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./Taj-Mahal-Pictures.webp);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.first h1{
    padding-top: 40px;
    font-size: 60px;
    color: antiquewhite;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    
}

nav a{
    text-decoration: none;
}

nav :hover{
    color: gold;
}


.first h1 span{
    color: #Ffd700;
}


.first h2{
    padding-top: 40px;
    font-size: 40px;
    color: antiquewhite;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;



}

.first h3{
    padding-top: 40px;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;

}

.first h2 span{
    color: #Ffd700;
}

.first h3 span{
    color: #Ffd700;
}


